* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #0f0f0f;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 80px 10%;
}
